@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body {
	font-family: "MedievalSharp", cursive;
}

#dragon-img {
	display:block;
	margin:auto auto;
	border-radius:5px;
}

h1, h3 {
	text-align: center;
	margin:20px auto 10px auto;
}

h4 {
	text-align: center;
}

div .thumbnail img {
	height: 250px;
}

div .thumbnail p {
	font-size:12px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}